<article class="post">
  <div class="title">
    <span><h2>{{post.title}}</h2></span>
    <span class="post-body">{{post.body}}</span>
  </div>
  <div class="meta">
        by <a href="/profiles/{{post.user.id}}">{{post.user.username}}</a> on
        {{format_date post.created_at}} in category <a href="/categories/{{post.category_name}}">{{post.category_name}}</a>
    |
    <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural 'comment' post.comments.length}}</a>
  </div>
</article>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
    <button type="button" class="favorite-btn">favorite post</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/favorite.js"></script>
{{/if}}
